*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.SingIn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../assets/pietro-de-grandi-T7K4aEPoGGk-unsplash2.jpg');
    background-size: cover;
    background-position: center;
}